################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/LighthouseSocial.Domain/bin
/src/LighthouseSocial.Domain/obj
/src/LighthouseSocial.Application/obj

.vs

bin
obj

.sonarqube
/src/LighthouseSocial/.vs/LighthouseSocial
